#text {
    visibility: hidden;
    text-align: center;
    position: relative;
}
#bild1:hover {
    content:url("mc.png"); width: 500px; height: 200px;

}
#wrapper1:hover #text {
    visibility: visible;
} 